$primary-color: #181212;
$secundary-color: #b62828;
$contrast-color: #6fe40f;
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
      margin: 0;
      color: $secundary-color;
      font-weight: bolder;
}

p{
      color: var(--prim-color);
      text-align: center;
      margin-top: 50px;
}

li{list-style: none;}

a{
      text-decoration: none;
      color: $secundary-color;
}

body{
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: $primary-color;

      .web-container{ 
            display: flex;
            max-width: 1280px;
            width: 100%;
            flex-wrap: wrap;
            position: relative;
      }
}