@use 'base';


.footer{
      @include base.flex($align-items:center, $justify: space-between);
      width: 100%;
      background-color: map-get(base.$bgColors, secundary);
      padding: 20px 70px;
      position: relative;
      
      &__media-container{
            @include base.flex($justify: center, $align-items:center, $align-content:center, $wrap:wrap);
            gap: 15px;
      }

      &__media-link{
            @include base.flex($direction:column, $wrap: wrap);

            &:hover{
                border-radius: 120px;
            }
      }

      &__media-text{
            @include base.flex($direction:column, $align-items: center);
            max-width: 50px;
            text-align: center;
      }

      &__info-container{
            text-align: center;
            font-size: 1.3em;
            @include base.applyFontStyles();
      }

}

@media (max-width: 768px) {
      .footer{
            align-items: center;
            padding:0;
            &__info-container{
                  text-align: center;
            }
      }     

}