@use 'base';


.footer{
      @include base.flex($align-items:center, $justify: space-between);
      width: 100%;
      background-color: map-get(base.$bgColors, secundary);
      padding: 20px 70px;
      position: relative;
      
      &__media-container{
            @include base.flex($justify: center, $align-items:center, $align-content:center, $wrap:wrap);
            gap: 15px;
      }


      &__media-icon{

            & > svg{
                  max-width: 50px;
                  max-height: 50px;
                  transition: all .3s;
            }
            &:hover svg{
                  fill: #fefefe;
            }
      }

      &__info-container{
            @include base.applyFontStyles($size:1.5em);
      }

}

@media (max-width: 768px) {
      .footer{
            align-items: center;
            padding:0;
            &__info-container{
                  text-align: center;
                  @include base.applyFontStyles($size:1.1em);
            }
      }     

}