@use 'base';


.footer{
      color: base.$primary-color;
      @include base.flex($align-items:center, $justify: space-between);
      width: 100%;
      border-top: 1px solid base.$primary-bg-color;
      background-color: base.$contrast-bg-color;
      padding: 20px 70px;
      
      &__media-container{
            @include base.flex($justify: center, $align-items:center, $align-content:center, $wrap:wrap);
            gap: 15px;
      }

      &__media-link{
            @include base.flex($direction:column, $wrap: wrap);

            &:hover{
                background-color: base.$primary-bg-color--opacity; //primary-bg-color opacity68
                border-radius: 120px;
            }
      }

      &__media-text{
            @include base.flex($direction:column, $align-items: center);
            font-size: .9em;
            max-width: 30px;
            text-align: center;
      }

      &__info-container{
            text-align: center;
      }

}

@media (max-width: 768px) {
      .footer{
            align-items: center;

            &__info-container{
                  text-align: center;
            }
      }     

}