@use 'base';


.header{
      @include base.flex($align-items: center, $align-content:center, $justify: space-between, $wrap: wrap);
      align-self: flex-start;
      @include base.sizeBox($width:100%);
      min-height: 100px;
      padding: 0 40px;
      position: fixed;
      right: 0;
      top: 0;
      background-color: #00000063;

      &__logo-container{
            @include base.flex($justify: center, $align-items: center);
            @include base.sizeBox($height:100%);
      }

      &__nav{
            @include base.flex();

            .header__links-container{
                  @include base.flex($justify:space-around, $align-items: center, $gap: 30px);
                  @include base.applyFontStyles($size:1.5em, $weight: bolder);
                  user-select: none;
            }
      }
}

//Description NavLinks
.description{
      display: none;
      user-select: none;
      position: absolute;
      border-radius: 20px;
      @include base.applyFontStyles($size:1em, $weight: bolder);
      color: map-get(base.$colors, primary);
}
.show{
      display: flex;
}

//BtnForMobile
#check, .checkBtn{
      display: none;
}
@media (max-width: 768px) {

      .header{
            &__logo-container{
                  width: 50%;
            }

            &__nav{

            
                  .header__links-container{
                        display: none;

                        &-item{
                              @include base.flex();
                              width: 100%;
                              height: 60px;
                              border-bottom: 1px solid #ccc;
                              color: map-get(base.$colors, primary); 
                        }
                        &-link{    
                              height: 100%;
                              width: 100%;
                              @include base.flex($direction:row, $justify: space-around, $align-content: center, $wrap:wrap);
                        }
                  }

                  #check:checked ~ .header__links-container{
                        position: absolute;
                        top: 100%;
                        left: 0;    
                        gap: 0;
                        @include base.flex($direction:column);
                        width: 100%;
                        transition: all 0.3s;
                  }

                  .header__checkBtn{
                        align-self: flex-start;
                        display: block;
                        cursor: pointer;
                        user-select: none;
                        color: map-get(base.$colors, primary);
                        position: relative;
                        top: 0;
                        right: 0;

                        &-animationBar{
                              width: 25px;
                              height: 3px;
                              background-color: map-get(base.$colors, primary);
                              margin: 4px 0;
                              transition: background-color 0.3s ease; /* Agregamos una transición para el color de fondo */
                        }

                        &--open {
                              .header__checkBtn-animationBar{
                              }
                        }
                  }
                  
                  
            }
      }
}