@use 'base';


.header{
      @include base.flex($align-items: center, $align-content:center, $justify: space-between, $wrap: wrap);
      align-self: flex-start;
      @include base.sizeBox($width:100%);
      min-height: 80px;
      padding: 0 30px;
      background: map-get(base.$bgColors, secundary);
      position: sticky;
      top: 0;
      z-index: 10000;

      &__logo-container{
            @include base.flex($justify: center, $align-items: center);
            @include base.sizeBox($height:100%);
            user-select: none;
      }

      &__nav{
            @include base.flex();

            .header__links-container{
                  @include base.flex($justify:space-around, $align-items: center, $gap: 30px);
                  @include base.applyFontStyles($size:1.5em, $weight: bolder);
                  user-select: none;
                  @include base.applyFontStyles($font: exponent, $size:2.5em);

                  &-link:hover{
                        color: map-get(base.$colors, secundary);
                        transition: all .3s ease-in-out;
                  }
            }
      }
}

//Description NavLinks
.description{
      display: none;
      user-select: none;
      position: absolute;
      border-radius: 20px;
      @include base.applyFontStyles($size:.6em, $weight: bolder);
      color: map-get(base.$colors, primary);
}
.show{
      display: flex;
}

//BtnForMobile
#check, .checkBtn{
      display: none;
}

@media (max-width: 768px) {

      .header{
            padding: 0 20px;

            &__nav{

                  .header__links-container{
                        display: none;

                        &-item{
                              @include base.flex($wrap:wrap, $justify:center, $align-items:end);
                              width: 100%;
                              height: 60px;
                              border-bottom: 1px solid #ccc;
                              color: map-get(base.$colors, primary); 
                        }
                        &-link{    
                              height: 100%;
                              width: 100%;
                              @include base.flex($justify:center);
                        }
                  }

                  #check:checked ~ .header__links-container{
                        @include base.flex($direction:column);
                        background-color: #ffffff0b;
                        backdrop-filter: blur(4px);
                        position: absolute;
                        top: 80px;
                        left: 0;    
                        width: 100%;
                        transition: all 0.3s;
                        z-index: 1000;
                  }

                  .header__checkBtn{
                        align-self: flex-start;
                        display: block;
                        cursor: pointer;
                        user-select: none;
                        position: relative;
                        top: 0;
                        right: 0;

                        &-animationBar{
                              width: 25px;
                              height: 3px;
                              background-color: map-get(base.$colors, primary);
                              margin: 4px 0;
                              transition: background-color 0.3s ease;
                        }

                        &--open {
                              .header__checkBtn-animationBar{
                                    background-color: map-get(base.$colors, secundary);
                              }
                        }
                  }
                  
                  
            }
      }
}