@use 'base';


.header{
      @include base.flex(row, space-between, wrap);
      align-self: flex-start;
      width: 100%;
      position: sticky;
      top: 0;
      background-color: base.$contrast-bg-color;

      &__logo-container{
            @include base.flex();
      }

      &__nav{
            @include base.flex();

            .link-container{
                  @include base.flex();
                  user-select: none;
                  gap: 20px;
            }
      }
}

//Description NavLinks
.description{
      display: none;
      user-select: none;
      position: absolute;
      border-radius: 20px;
      font-size: 12px;
      color: base.$primary-color;
}
.show{
      display: flex;
}

//BtnForMobile
#check, .checkBtn{
      display: none;
}
@media (max-width: 768px) {

      .header{
            padding: 0 30px;
            
            &__nav{
                  align-self: center;
                  
                  .header__link-container{
                        display: none;

                        &-item{
                              display: flex;
                              flex-wrap: wrap;
                              width: 100%;
                              height: 60px;
                              border-bottom: 1px solid #ccc;
                              color: base.$primary-color;
                              background-color: base.$contrast-bg-color;
                              
                              &-link{    
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    flex-wrap: wrap-reverse;
                              }
                        }
                  }

                  #check:checked ~ .header__link-container{
                        position: absolute;
                        top: 100%;
                        left: 0;    
                        gap: 0;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        background-color: base.$primary-bg-color;
                        transition: all 0.3s;
                  }

                  .header__checkBtn{
                        align-self: flex-start;
                        display: block;
                        cursor: pointer;
                        user-select: none;
                        color: base.$primary-color;
                        position: relative;
                        top: 0;
                        right: 0;

                        &-animationBar{
                              width: 25px;
                              height: 3px;
                              background-color: base.$primary-color;
                              margin: 4px 0;
                              transition: background-color 0.3s ease; /* Agregamos una transición para el color de fondo */
                        }

                        &--open {
                              .header__checkBtn-animationBar{
                                    background-color: base.$secundary-bg-color;
                              }
                        }
                  }
                  
                  
            }
      }
}