/*sass index.scss ../css/main.css for transpilation*/
@use 'base';
@use 'header';
@use 'footer';


.main{
      padding: 2% 5%;
}
.main__descriptive{
      @include base.flex($wrap:wrap);
      gap: 20px;
}
.main__descriptive-entry{
      @include base.flex($align-items:stretch);
      outline: 1px solid white;
      border-radius: 20px;
      padding: 20px 10px;
      background-color: rgba(0, 0, 0, 0.387);
      gap: 20px;
      &:last-child{
            margin-bottom: 0;
      }

      .main__descriptive-text{
            @include base.flex($justify: center, $wrap: wrap, $align-content: center);
            gap: 20px;
            padding: 0 30px;
            flex-basis: 50%;
            border-right: .5px solid white;

            .main__descriptive-text--button{
                  @include base.spanButton();
            }
      }

      .main__descriptive-picture{
            @include base.flex();
            flex-basis: 50%;
            
            &-image{
                  border-radius: 50px;
            }
      }
}

@media (max-width: 768px){
      .main{padding: 0;}
      .main__descriptive-entry{
            @include base.flex($direction:column, $align-items:stretch, $wrap: wrap-reverse);
            margin-bottom: 10px;
            gap: 40px;
            
            .main__descriptive-text{
                  
                  border: none;
            }
      }
}