/*sass index.scss ../css/main.css for transpilation*/
@use 'base';
@use 'header';
@use 'footer';


.main{
      @include base.flex($align-items:center, $direction:column);
}

.main__hero{
      background-image: url(../../assets/hero.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 1200px;
      @include base.sizeBox($width:100%, $height:1200px);
      @include base.flex($justify:center, $align-content:flex-end, $wrap:wrap);
      padding: 50px;

      &-content{
            @include base.flex($justify: center, $wrap:wrap, $align-content: center, $gap: 120px);
            align-self: flex-end;
            @include base.glassMorph();
            @include base.sizeBox($width:1600px);
            position: relative;
            bottom: 300px;
      }

      &-btns{
            @include base.flex($gap:40px);
      }
}

.main__descriptive{
      @include base.flex($wrap:wrap, $gap: 40px);
      max-width: 1600px;
            
      .main__descriptive-entry{
            @include base.flex($align-items:center, $gap:20px);
            border-radius: 20px;
            padding: 20px 10px;
            @include base.glassMorph();
      
            .main__descriptive-text{
                  @include base.flex($justify: center, $wrap: wrap, $align-content: space-around, $gap:20px);
                  @include base.sizeBox($width:100%, $height:100%);
                  padding: 0 30px;
                  flex-basis: 50%;
      
            }
}

      .main__descriptive-picture{
            @include base.flex();
            flex-basis: 50%;
            position: relative;
            
            &-image{
                  z-index: -100;
            }
            &--overlay{
                  position: absolute;
                  top: 0;
                  left: 0;
                  @include base.flex($direction:column,$justify:center,$align-items:center);
                  @include base.sizeBox($width:100%, $height:100%);
                  background-color: #000000c0;
                  opacity: 0;
                  transition: all .6s;
                  
                  & > *{
                        transform: translateY(50px);
                        transition: transform .3s;
                  }

                  &:hover{
                        opacity: 1;
                        
                        & > *{
                              transform: translateY(0px);
                        }
                  }
            }
      }
}

.main__us{  
      max-width: 1600px;
      padding: 50px;
      @include base.flex($wrap:wrap,$gap:30px, $justify:center, $align-items:center);
      background-color: map-get(base.$bgColors, contrast);

      .us__text{
            @include base.flex($wrap:wrap, $justify:center, $gap:40px);
            padding: 50px;
      }

      .us__cards{
            @include base.flex($justify:center);
            position: relative;
            z-index: 100;

            &::before,
            &::after{
                  content: '';
                  position: absolute; 
                  top: -3px;
                  left: -3px;
                  width: calc(100% + 6px);
                  height: calc(100% + 6px);
                  background: linear-gradient(45deg, #00FF8D, #24001B,#0A0124, yellow, purple);
                  background-size: 400%;
                  animation: colorbg 40s linear infinite;
                  z-index: -100;
            }
            &::before{
                  filter: blur(8px);
            }
            @keyframes colorbg {
                  0%{background-position: 0 0;}
                  50%{background-position: 100% 0;}
                  100%{background-position: 0 0;}
            }

            .slick-slider{
                  @include base.sizeBox($width:350px);

                  .slick-list{

                        .slick-track{

                              .slick-slide{

                                    .card{
                                          @include base.flex($direction:column,$wrap:wrap, $align-items:center,);
                                          position: relative;
                                          padding: 20px;
                                          @include base.sizeBox($width:350px);
                                          background-color: map-get(base.$bgColors, secundary);

                                          .card__picture{
                                                @include base.flex($justify:center);
                                                @include base.sizeBox($width:250px, $height:250px);
                                                border-radius: 50%;
                                                
                                                .picture-container{
                                                      @include base.sizeBox($width:250px, $height:250px);
                                                      border-radius: 50%;

                                                      & > img{
                                                            border-radius: 50%;
                                                            object-fit: cover;
                                                      }
                                                }
                                          }

                                          .card__info{
                                                @include base.flex($wrap:wrap, $justify:center, $gap:20px);
                                                margin: 20px;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}

@media (max-width: 1024px){
      .main__us{
            @include base.flex($wrap:wrap,$gap:100px, $justify:center, $align-items:center);
      }
}

@media (max-width: 768px){
      .main{padding: 0;}

      .main__descriptive{

            .main__descriptive-entry{
                  @include base.flex($direction:column, $gap:40px);
                  
                  .main__descriptive-text{
                        
                        border: none;
                  }
            }
      }
}