---
import '../styles/css/main.css';
import '../styles/css/normalize.css';
import Footer from '../components/footer/Footer';
import NavBar from '../components/nav/NavBar';
import Hero from '../components/mainReusables/heroSection/HeroSection';
import Descriptive from '../components/mainReusables/gameDescriptive/DescriptiveSection';
---


<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Astro Landing</title>
      <link rel="icon" type="image/x-icon" href="../../static/favicon.ico" />
      
</head>
<body>
      
      <div class="web-container">

            <NavBar client:load/>   
            
            <main class="main">
                  <!-- <Hero /> -->
                  <Descriptive client:visible/> 
            </main>
            
            <Footer/>
      </div>

</body>
</html>