---
import '../styles/Layout.css';
import '../styles/normalize.css';
import Hero from '../components/landing/Hero';
import NavBar from '../components/nav/NavBar';
---

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Astro Landing</title>
</head>
<body>
      
      <div class="web-container">

            <NavBar client:load/>

            
            <!-- <main>
                  <Hero/>
                  
            </main> -->
            
            
            <slot/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possimus assumenda atque dignissimos accusantium dolore, similique omnis unde labore vero nobis, saepe totam, ducimus maxime enim magni deserunt exercitationem eaque.
            Quam, sunt officia est hic quibusdam dolorem delectus itaque libero iusto non nobis ut exercitationem harum sit temporibus odio vel eum optio enim explicabo molestiae consequuntur. Deleniti unde ratione cum!
            Corrupti perferendis repudiandae aperiam porro dignissimos quae earum, ullam ab eveniet voluptates est molestiae recusandae laboriosam rem voluptatibus unde officia asperiores eius dolore vero corporis! Consequatur quam reiciendis ipsam libero.
            Veritatis nesciunt cum sit magni non voluptates consequatur praesentium eius, similique molestias ex, officia explicabo ea iusto expedita voluptatum nobis distinctio natus ut amet! Iure quis perferendis voluptatem ab cum?
            Facere, cumque? Dignissimos laudantium ducimus debitis? Ex dolor, dolorum voluptatem nam nemo laudantium totam illo quaerat, quasi est dolorem! Nisi necessitatibus officia fuga rerum vitae fugiat quia? Sapiente, iusto nam?
            Consectetur, labore sequi. Natus fugiat suscipit facilis qui a omnis iusto placeat sint. Explicabo perferendis commodi impedit culpa illo aspernatur, consectetur est veniam et ea, ex incidunt eligendi error sapiente!
            Atque, repellat. In, sint dolorum vel numquam eum tempora vitae placeat obcaecati perspiciatis provident sapiente itaque recusandae et nisi iste fuga iusto! Laudantium, cumque architecto ipsum fuga ipsam earum similique.
            Ex excepturi earum voluptatibus voluptates iusto maxime quidem alias incidunt vel doloremque repellendus molestiae temporibus mollitia, magnam laborum cupiditate maiores fugit aliquam veniam! Ullam aperiam ducimus eius enim fuga laborum.
            Earum, corporis. Maxime tenetur dicta vero excepturi eum eaque, recusandae voluptates modi, possimus quos nemo repellat quam. Dolorum nesciunt iure, excepturi, optio debitis fuga dolor temporibus odit, beatae accusamus culpa.
            Veniam tempora quos saepe sunt reiciendis recusandae commodi dolorem, fugiat fuga quam voluptatibus voluptatum neque dignissimos asperiores quasi ullam consequatur. Ipsum quos similique dolorum. Laboriosam aliquam provident dignissimos mollitia in!
            Magni voluptates aliquid, labore placeat ut at voluptatem deleniti culpa repellat est perspiciatis illo ab quisquam expedita nesciunt eligendi veniam! Non amet iste sint illum repellat, repellendus totam. Ut, placeat.
            Blanditiis alias ipsa doloremque corporis quidem ipsam quibusdam commodi labore, pariatur veritatis ducimus exercitationem animi? Expedita nisi voluptates repellendus officiis ipsam tempora, voluptate aut aperiam et autem sit, voluptatibus itaque?
            Harum autem deleniti, voluptates eveniet quos quisquam sequi placeat eaque facere in saepe nulla. Explicabo esse vitae vel cumque autem, ipsum debitis magnam mollitia ullam, quos enim sed, porro accusamus.
            Soluta dignissimos suscipit, accusantium esse numquam aperiam ipsam rem magnam est sapiente debitis molestiae, eos totam at! Laboriosam quisquam laborum vero veritatis quos aut perspiciatis iste alias neque, iusto aliquid.
            Quisquam molestias laudantium explicabo nemo et ut debitis repellendus autem mollitia amet eius repudiandae ipsum cupiditate sequi exercitationem culpa quod facilis voluptates accusantium, cumque quae, soluta excepturi impedit iste. Praesentium.
            Sit, explicabo nam non id hic neque similique. Aperiam quaerat, tempora architecto nisi quasi maxime, sint vero dolores sequi ratione odit deserunt. Perspiciatis fugit est mollitia, ea asperiores veritatis id!
            Temporibus non nemo ad possimus sint ratione nisi ipsam laboriosam, ducimus magni alias aperiam fuga corporis dignissimos, magnam, quis ipsa. Maxime, molestias? Nisi tenetur dolores deserunt vel atque perspiciatis libero!
            Deleniti molestias labore iste atque non eligendi ad nostrum, recusandae ut debitis eius asperiores. Blanditiis, doloremque laudantium ducimus animi modi molestias quaerat corrupti voluptatibus corporis rem sequi ratione aut neque!
            Inventore earum nobis placeat voluptas quae dicta quod laudantium consequuntur. Dolores vel voluptate, dicta nobis fuga expedita blanditiis veniam facilis laborum? Nihil culpa laudantium earum veniam adipisci mollitia nostrum accusamus!
            Quibusdam aliquam minima non suscipit nobis beatae reiciendis, esse recusandae accusantium incidunt! Ipsum, laborum repellat! Aliquam corporis consequuntur sapiente natus ipsum quasi consectetur a, omnis dignissimos, nesciunt voluptatibus dolorum odit.
            Nemo porro rerum cupiditate qui, quidem minus quo, nostrum ipsam eligendi fugiat, molestias facilis tenetur quos itaque culpa! Quos nesciunt esse iste voluptates expedita assumenda, sapiente inventore voluptas qui labore.
            Repellendus voluptates iusto tenetur delectus laboriosam, veritatis nemo aperiam doloribus sed autem amet dolorem magnam officia error ducimus illum qui possimus aspernatur maxime maiores adipisci. Quibusdam quos impedit ipsa magnam!
            Pariatur deleniti provident labore aliquam commodi autem dignissimos, suscipit ad temporibus? Esse vel, quas numquam deleniti architecto aspernatur unde ipsam minima laboriosam animi voluptatum dolorem cumque, facilis porro et odio.
            Architecto doloremque nemo, sapiente soluta quasi repudiandae? Quam, repellendus inventore quod qui ea a ut ipsa aspernatur minus consectetur sint, nostrum numquam vel aliquid. Officiis optio excepturi expedita rerum placeat.
            Dolores sequi minus, asperiores facilis voluptas, veritatis ipsum, dolorum harum quisquam consequatur ut assumenda maxime accusantium odio repellendus. Repellat iure consectetur blanditiis similique officiis. Dolores cumque incidunt aut tempora sequi.
            Dolorum, tempore! Odit, omnis aut temporibus iusto ea deserunt, itaque explicabo reprehenderit ullam quis incidunt id officiis nulla inventore magnam hic et. Qui obcaecati quos quas, beatae architecto veritatis quis!
            Fugiat obcaecati nam corporis laborum ipsum culpa aspernatur amet iusto debitis praesentium fuga neque mollitia maiores expedita, numquam eum assumenda deleniti dolore reiciendis? Dolor quia voluptate earum exercitationem, tempora ullam.
            Laborum totam, facere reprehenderit harum quae saepe? Repudiandae odio perspiciatis mollitia quaerat vero corporis sequi maxime vitae nulla excepturi ducimus, ratione itaque harum voluptas praesentium quasi magni consectetur inventore odit.
            Molestias corporis, quia libero amet sunt nemo iusto, quae culpa consequatur dolores mollitia eos maxime voluptates itaque odio aperiam dicta explicabo praesentium officiis repellat tempore. Accusamus, ducimus nisi? Minus, praesentium?
            Non repellat ratione consequatur iste adipisci, officia ea tempora soluta consequuntur ipsum saepe vero. Repellendus, veniam, cum consectetur quo illo architecto fuga autem facere quas excepturi possimus voluptatibus quia harum?
            Ratione nemo doloremque dolorum maxime cupiditate ipsum obcaecati delectus, iusto ab esse repudiandae perferendis provident natus molestiae est necessitatibus earum mollitia commodi minus blanditiis porro odit numquam eaque? Esse, sapiente!
            At, aperiam totam? Iusto, provident deleniti praesentium quam eveniet expedita tempora. Eum, impedit delectus! Ipsa, dicta harum dolorem officiis facilis nihil obcaecati quod unde quas at ratione quam aliquid iste.
            Similique adipisci iusto corporis. Hic reiciendis qui obcaecati, eaque provident temporibus labore reprehenderit alias similique earum omnis soluta eos laborum eveniet possimus dolores veniam aliquam, dolor officia consectetur et? Delectus.
            Soluta quam consequuntur odit provident a recusandae asperiores atque voluptates at hic iste aliquam culpa, sapiente consectetur quod. Aliquid, et alias consequuntur ullam perspiciatis laudantium laboriosam dicta. Qui, repellendus optio?
            Quia consequuntur blanditiis necessitatibus quisquam vitae ipsa nisi nemo asperiores. Reprehenderit quas, accusantium culpa quam eveniet doloribus sequi laborum sint sapiente dolor fugiat ipsum magnam debitis veniam. Debitis, beatae eius!
            Blanditiis officia necessitatibus molestias porro, modi in veritatis dolorem earum sequi ea molestiae officiis quibusdam facilis optio dolorum. Quibusdam, excepturi veniam autem provident sed sequi ratione quae velit ducimus enim?
            Eligendi iste explicabo eos, eaque asperiores illum sed perferendis rerum laboriosam esse qui id consequuntur? Illum quis possimus ullam magni reiciendis voluptate nemo, autem sint nisi aspernatur excepturi amet soluta.
            Voluptatibus repellat perspiciatis eos iusto nihil quia, soluta, quae quidem perferendis atque facere possimus pariatur consectetur id fuga illo cupiditate aut nobis ea nisi sapiente iste excepturi? Optio, accusantium pariatur?
            Aperiam eaque quisquam dolor aspernatur dicta, distinctio odit, necessitatibus at, ipsa culpa facilis optio ipsum omnis delectus blanditiis dolore. Pariatur cum quam temporibus architecto iusto nam possimus dolor laboriosam mollitia.
            Quasi, laborum deserunt ab minus consequatur saepe repellat in, dolorum ratione suscipit expedita hic culpa voluptates illum magnam deleniti tempore quae rerum illo repudiandae enim nesciunt quas velit? Quasi, beatae.
            Quam tenetur exercitationem, officia perferendis nisi recusandae expedita dolores aliquam ullam voluptatum voluptatem officiis optio modi eius hic a rem amet illum ipsum fuga ea nesciunt. Quaerat odit itaque hic.
            Dolores nostrum, odit id commodi natus enim architecto asperiores omnis at mollitia quae laudantium esse assumenda! Odit eius voluptates hic ex, nihil veritatis magnam expedita, nisi sint laborum facere inventore!
            Eius fugit culpa nisi iste assumenda dicta facere repellendus fuga sunt ut iusto quo ea ipsa mollitia corporis esse cupiditate, nesciunt sapiente, incidunt error perferendis eaque qui pariatur! Tempora, itaque!
            Voluptatibus, amet placeat? Dignissimos molestiae quo maxime distinctio, voluptas eligendi suscipit atque. Ex ab blanditiis dicta ratione culpa, praesentium nobis nisi sint, non modi doloribus molestiae earum corrupti beatae nostrum?
            Vitae aliquid, est sit ratione similique laboriosam tempora ullam architecto totam possimus aperiam corrupti dolorum facilis consequatur earum doloremque iste quos soluta recusandae? Adipisci voluptas hic consequuntur odit provident quaerat!
            Voluptatibus quae omnis necessitatibus consectetur possimus amet vero minima impedit aut quasi doloribus, dolor, officiis sapiente. Adipisci voluptate nisi mollitia harum quas excepturi tempora quibusdam quis labore sunt, perferendis est!
            Non harum illum perferendis, placeat hic consectetur voluptate dolore voluptatibus architecto eos doloremque excepturi velit, cupiditate officia sapiente sunt numquam natus eaque odit consequuntur laboriosam quod obcaecati quibusdam. Molestias, mollitia.
            Saepe nulla quae, autem ipsum possimus enim suscipit sit sed itaque odio, consectetur iusto alias accusantium praesentium vero nobis natus, perspiciatis fuga? Distinctio ad id dignissimos omnis fuga inventore odio!
            Neque deserunt rem, cum animi quod, veniam assumenda excepturi ea, molestiae reprehenderit enim nisi quisquam itaque repudiandae? Aut natus, reprehenderit labore, aperiam dolore consectetur odio iure officiis, provident sunt doloribus?
            Quod aperiam, numquam nihil veniam odit, fugiat aliquam facere pariatur dignissimos perferendis eius quia, suscipit sequi praesentium autem minus rerum iure eveniet eaque error aliquid distinctio. Pariatur facilis officiis asperiores.</p>
      </div>
      

</body>
</html>