---
import '../styles/css/main.css';
import '../styles/css/normalize.css';
import Footer from '../components/footer/Footer';
import NavBar from '../components/nav/NavBar';
---


<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Astro Landing</title>
</head>
<body>
      
      <div class="web-container">

            <NavBar client:load/>   
            
            <main>
                  <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolore ullam perspiciatis dolor minima eligendi fuga mollitia molestiae eius sunt pariatur laboriosam voluptatibus corrupti repellat nam, aliquid recusandae possimus et.
                        Labore laboriosam, veritatis natus aliquam eligendi numquam, vitae fugit consequatur qui cumque accusantium perferendis aut aliquid necessitatibus obcaecati, perspiciatis consequuntur inventore praesentium! Corrupti aliquid repellendus sapiente ad consequuntur est nobis.
                        Obcaecati vel deleniti, nihil, asperiores voluptas aut accusantium modi eaque eveniet hic debitis iste illo atque. Labore at maxime totam. Ipsam ipsum quibusdam tempore dignissimos assumenda libero aspernatur error nisi.
                        Doloribus consequatur molestiae ipsa saepe hic, veritatis iste blanditiis enim minus, beatae suscipit voluptatum est libero fugiat minima laborum! Accusantium eligendi pariatur ratione officiis magni nulla maiores amet, eos maxime.
                        Eos est obcaecati optio eligendi quasi, perferendis neque officiis modi autem corrupti qui accusamus animi. Architecto eum harum voluptas iure illo nam! Velit nemo atque maiores beatae unde, repudiandae officia?
                        Praesentium nisi error aliquid cupiditate alias dicta accusantium cum pariatur, tempora doloremque delectus libero? Sit minus ipsum aliquam, rerum et dolor eaque ipsa doloremque perspiciatis iste ad enim doloribus culpa!
                        Eum error vero iste recusandae ut necessitatibus. Quasi nostrum ipsam dignissimos quibusdam ad pariatur. Laborum, blanditiis? Debitis, error laborum consequatur aliquid minus ea unde aperiam eaque dolore veritatis, mollitia voluptatum.
                        Qui voluptatum, minus quaerat eos aspernatur libero eaque numquam, non commodi minima maiores officia totam maxime adipisci, voluptate voluptatibus fugiat accusamus. Aperiam laborum aspernatur soluta fuga hic, quo quos suscipit!
                        Doloribus perspiciatis tempora officia, explicabo nisi consequuntur amet. Quasi impedit optio fuga. Velit, asperiores. Iure inventore nobis sapiente soluta impedit nihil ex quisquam, voluptates repellendus. Debitis nemo consequatur eos quos?
                        Debitis nobis assumenda excepturi, officiis architecto, veniam, eaque cupiditate accusantium sequi quisquam perferendis totam placeat dolor provident odit ratione tempore. Placeat quidem porro nobis itaque cupiditate quibusdam debitis quia iusto?
                        Et corporis repellat iusto cum magnam eum illo magni commodi voluptatibus dolor. Maxime, eligendi ab commodi provident perferendis ex laborum exercitationem molestias dignissimos. Eius temporibus pariatur doloribus. Aspernatur, tenetur vel.
                        Consectetur, rem aut! Quod architecto, dolore eligendi ipsa pariatur mollitia cumque deleniti tenetur delectus voluptatibus provident quo! Impedit dignissimos, nesciunt fugiat repellat officia molestiae consequuntur, mollitia, perferendis dolor ad qui.
                        Aliquid fuga officiis dolores? Sed accusamus aliquam ab sapiente nemo quaerat consequatur optio porro qui nobis laboriosam, saepe illo ducimus obcaecati quis fuga nihil nesciunt blanditiis a! Ratione, veritatis reiciendis!
                        Quae nihil reprehenderit minima ad aliquam. Ratione, dolor beatae eaque accusantium eum blanditiis debitis veritatis impedit suscipit distinctio quae voluptatum at ea corporis accusamus nam! Hic tempore facilis impedit eos.
                        Harum, optio aut dolor qui rerum molestias libero veritatis eum placeat expedita quam quae, beatae neque nobis dolores repellat et tenetur quod officiis iste ab ea? Nulla ipsa vel veniam.
                        Aut repellendus voluptatem sunt beatae odit voluptatibus ex! Eum eveniet quam quod inventore? Reiciendis natus ab in blanditiis dicta autem at vel. Velit tenetur quam deleniti! Aspernatur officia cum ipsa!
                        Laudantium beatae ullam praesentium hic, quia voluptatibus maxime doloribus rerum officiis ipsam tempora, magni explicabo? Eius, laboriosam fugit? Laborum, obcaecati quasi enim nesciunt aperiam deserunt non repellat cupiditate nam! Pariatur?
                        Obcaecati non dolorum deleniti facilis eius, ut eos beatae excepturi eaque placeat esse unde expedita laboriosam minima vitae pariatur. Ex accusantium facilis molestiae neque nemo incidunt quo consequuntur! Ratione, at!
                        Velit vero ipsum sapiente officia porro? Atque nemo dolore, voluptate nesciunt voluptatum, ratione excepturi eius fugiat saepe vel, ab voluptatem consectetur. Inventore molestiae accusamus qui numquam ad molestias aut fugiat?
                        Dignissimos aperiam nihil velit aliquam, ipsum iure enim voluptate eligendi deleniti deserunt? Officiis ratione, distinctio unde facere enim aperiam omnis itaque aut voluptatum et dolorum, sit est aliquid non illo.
                  </p>
            </main>
            <slot/>

            <Footer/>
      </div>

</body>
</html>