@charset "UTF-8";
/*sass index.scss ../css/main.css for transpilation*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  color: #e1e1e1;
  margin-bottom: 15px;
  user-select: none;
}

p {
  color: #e1e1e1;
}

span {
  color: #e1e1e1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e1e1e1;
  font-size: 1em;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  background-color: #270063;
}
body .web-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
}

/*sass index.scss ../css/main.css for transpilation*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 100%;
  min-height: 100px;
  padding: 0 30px;
  position: sticky;
  top: 0;
  background-color: #5500d4;
}
.header__logo-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
}
.header__nav .header__links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  user-select: none;
  gap: 20px;
}

.description {
  display: none;
  user-select: none;
  position: absolute;
  border-radius: 20px;
  font-size: 12px;
  color: #e1e1e1;
}

.show {
  display: flex;
}

#check, .checkBtn {
  display: none;
}

@media (max-width: 768px) {
  .header__logo-container {
    width: 50%;
  }
  .header__nav .header__links-container {
    display: none;
  }
  .header__nav .header__links-container-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    color: #e1e1e1;
    background-color: #5500d4;
  }
  .header__nav .header__links-container-link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
  }
  .header__nav .header__links-container-link:hover {
    background-color: rgba(40, 0, 99, 0.4078431373);
  }
  .header__nav #check:checked ~ .header__links-container {
    position: absolute;
    top: 100%;
    left: 0;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #270063;
    transition: all 0.3s;
  }
  .header__nav .header__checkBtn {
    align-self: flex-start;
    display: block;
    cursor: pointer;
    user-select: none;
    color: #e1e1e1;
    position: relative;
    top: 0;
    right: 0;
  }
  .header__nav .header__checkBtn-animationBar {
    width: 25px;
    height: 3px;
    background-color: #e1e1e1;
    margin: 4px 0;
    transition: background-color 0.3s ease; /* Agregamos una transición para el color de fondo */
  }
  .header__nav .header__checkBtn--open .header__checkBtn-animationBar {
    background-color: #202020;
  }
}
/*sass index.scss ../css/main.css for transpilation*/
.footer {
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  border-top: 1px solid #270063;
  gap: 30px;
  background-color: #5500d4;
  padding: 20px 70px;
}
.footer__media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.footer__media-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.footer__media-link:hover {
  background-color: rgba(40, 0, 99, 0.4078431373);
  border-radius: 120px;
}
.footer__media-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  font-size: 0.9em;
  max-width: 30px;
  text-align: center;
}
.footer__info-container {
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    align-items: center;
  }
  .footer__info-container {
    text-align: center;
  }
}
.main {
  padding: 5%;
}

.main__descriptive-entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}
.main__descriptive-entry:last-child {
  margin-bottom: 0;
}
.main__descriptive-entry .main__descriptive-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 30px;
  background-color: rgba(85, 0, 212, 0.3254901961);
  outline: 1px solid #202020;
  flex-basis: 50%;
}
.main__descriptive-entry .main__descriptive-text .main__descriptive-text--button {
  background-color: #202020;
  border-radius: 15px;
  padding: 3px;
}
.main__descriptive-entry .main__descriptive-picture {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  flex-basis: 50%;
}

@media (max-width: 768px) {
  .main {
    padding: 0;
  }
  .main__descriptive-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap-reverse;
    margin-bottom: 10px;
    gap: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
