@charset "UTF-8";
/*sass index.scss ../css/main.css for transpilation*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h3 {
  font-size: 1.5rem;
}

p {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e1e1e1;
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #270063;
}
body .web-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  padding: 0 30px;
  background-color: #202020;
}

/*sass index.scss ../css/main.css for transpilation*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #5500d4;
}
header .logo-container {
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .link-container {
  display: flex;
  align-items: center;
  user-select: none;
  gap: 20px;
}

.description {
  display: none;
  user-select: none;
  position: absolute;
  border-radius: 20px;
  font-size: 12px;
  color: #e1e1e1;
}

.show {
  display: flex;
}

#check, .checkBtn {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 0 30px;
  }
  header nav {
    align-self: center;
  }
  header nav .link-container {
    display: none;
  }
  header nav .link-container li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    color: #e1e1e1;
    background-color: #5500d4;
  }
  header nav .link-container li a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  header nav #check:checked ~ .link-container {
    position: absolute;
    top: 100%;
    left: 0;
    gap: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #270063;
    transition: all 0.3s;
  }
  header nav .checkBtn {
    align-self: flex-start;
    display: block;
    cursor: pointer;
    user-select: none;
    color: #e1e1e1;
    position: relative;
    top: 0;
    right: 0;
  }
  header nav .checkBtn div {
    width: 25px;
    height: 3px;
    background-color: #e1e1e1;
    margin: 4px 0;
    transition: background-color 0.3s ease; /* Agregamos una transición para el color de fondo */
  }
  header nav .open div {
    background-color: rgba(225, 225, 225, 0.7529411765);
  }
}
/*sass index.scss ../css/main.css for transpilation*/
footer {
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  border-top: 1px solid #270063;
  gap: 30px;
  background-color: #5500d4;
  padding: 20px 0;
}
footer .media-container {
  display: flex;
  gap: 20px;
}
footer .info-container {
  text-align: end;
}

@media (max-width: 768px) {
  footer {
    align-items: center;
  }
  footer .info-container {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
