/*sass index.scss ../css/main.css for transpilation*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,400;0,600;1,600&display=swap");
/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Click Here";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding: 80px;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  user-select: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5019607843);
}

h1 {
  font-family: "Audiowide", serif;
  color: #ff6d40;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
}

h2 {
  font-family: "Audiowide", serif;
  color: #ff6d40;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

h3 {
  font-family: "Audiowide", serif;
  color: #ff6d40;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h4 {
  font-family: "Audiowide", serif;
  color: #ff6d40;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

p {
  font-family: "Montserrat", serif;
  color: #e1e1e1;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4em;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5019607843);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #1E0116;
}
body .web-container {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  h1 {
    font-family: "Audiowide", serif;
    color: #ff6d40;
    font-weight: 600;
    font-style: italic;
    font-size: 48px;
  }
  h2 {
    font-family: "Audiowide", serif;
    color: #ff6d40;
    font-weight: 600;
    font-style: italic;
    font-size: 36px;
  }
  h3 {
    font-family: "Audiowide", serif;
    color: #ff6d40;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
  }
  h4 {
    font-family: "Audiowide", serif;
    color: #ff6d40;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
  }
  p {
    font-size: 1em;
  }
}
/*sass index.scss ../css/main.css for transpilation*/
.header {
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 100%;
  height: auto;
  min-height: 80px;
  padding: 0 30px;
  background: rgba(0, 0, 0, 0.9294117647);
  position: sticky;
  top: 0;
  z-index: 10000;
}
.header__logo-container {
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.header__logo-container > a {
  width: 300px;
}
.header__nav {
  display: flex;
  gap: normal;
  flex-direction: row;
}
.header__nav .header__links-container {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.header__nav .header__links-container-link {
  font-family: "Audiowide", serif;
  color: #e1e1e1;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}
.header__nav .header__links-container-link:hover {
  color: #7600BF;
  transition: all 0.5s;
}

.description {
  display: none;
  user-select: none;
  position: absolute;
  border-radius: 20px;
  font-family: "Montserrat", serif;
  color: #e1e1e1;
  font-weight: bolder;
  font-style: normal;
  font-size: 0.6em;
  color: #ff6d40;
}

.show {
  display: flex;
}

#check, .checkBtn {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
  .header__nav .header__links-container {
    display: none;
  }
  .header__nav .header__links-container-item {
    display: flex;
    gap: normal;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
  }
  .header__nav .header__links-container-link {
    height: 100%;
    width: 100%;
    display: flex;
    gap: normal;
    flex-direction: row;
    justify-content: center;
  }
  .header__nav #check:checked ~ .header__links-container {
    display: flex;
    gap: normal;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.0431372549);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    z-index: 1000;
  }
  .header__nav .header__checkBtn {
    align-self: flex-start;
    display: block;
    cursor: pointer;
    user-select: none;
    position: relative;
    top: 0;
    right: 0;
  }
  .header__nav .header__checkBtn-animationBar {
    width: 25px;
    height: 3px;
    background-color: #e1e1e1;
    margin: 4px 0;
    transition: background-color 0.3s ease;
  }
  .header__nav .header__checkBtn--open .header__checkBtn-animationBar {
    background-color: #7600BF;
  }
}
/*sass index.scss ../css/main.css for transpilation*/
.footer {
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
  padding: 20px 70px;
  position: relative;
}
.footer__media-container {
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.footer__media-icon > svg {
  max-width: 50px;
  max-height: 50px;
  transition: all 0.3s;
}
.footer__media-icon:hover svg {
  fill: #e1e1e1;
}
.footer__info-container {
  font-family: "Montserrat", serif;
  color: #e1e1e1;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .footer {
    align-items: center;
    padding: 0;
  }
  .footer__info-container {
    text-align: center;
    font-family: "Montserrat", serif;
    color: #e1e1e1;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
  }
}
.main {
  display: flex;
  gap: normal;
  flex-direction: column;
  align-items: center;
  background-color: #09B064;
}

.main__hero {
  background-image: url(../../assets/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 900px;
  width: 100%;
  height: 900px;
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 50px;
}
.main__hero-content {
  display: flex;
  gap: 120px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-self: flex-end;
  border-radius: 0px;
  box-shadow: 0 8px 32px 0 #0e0e0e;
  background-color: rgba(255, 255, 255, 0.0078431373);
  backdrop-filter: blur(6px);
  width: 1600px;
  height: auto;
  position: relative;
  transform: translateY(100px);
  padding: 85px 50px;
}
.main__hero-btns {
  display: flex;
  gap: 40px;
  flex-direction: row;
}

.main__descriptive {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1600px;
}
.main__descriptive .main__descriptive-entry {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 20px 10px;
  border-radius: 0px;
  box-shadow: 0 8px 32px 0 #0e0e0e;
  background-color: rgba(255, 255, 255, 0.0078431373);
  backdrop-filter: blur(6px);
}
.main__descriptive .main__descriptive-entry .main__descriptive-text {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  flex-basis: 50%;
}
.main__descriptive .main__descriptive-picture {
  display: flex;
  gap: normal;
  flex-direction: row;
  flex-basis: 50%;
  position: relative;
}
.main__descriptive .main__descriptive-picture-image {
  z-index: -100;
}
.main__descriptive .main__descriptive-picture--overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: normal;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7529411765);
  opacity: 0;
  transition: all 0.6s;
}
.main__descriptive .main__descriptive-picture--overlay > * {
  transform: translateY(50px);
  transition: transform 0.3s;
}
.main__descriptive .main__descriptive-picture--overlay:hover {
  opacity: 1;
}
.main__descriptive .main__descriptive-picture--overlay:hover > * {
  transform: translateY(0px);
}

.main__us {
  max-width: 1600px;
  padding: 50px;
  display: flex;
  gap: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #09B064;
}
.main__us .us__text {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  font-family: "Montserrat", serif;
  color: #e1e1e1;
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
}
.main__us .us__cards {
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 100;
}
.main__us .us__cards::before, .main__us .us__cards::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(45deg, #ff0088, #00FF8D, #c9fb00, #ff00dd, #00d9ff);
  background-size: 400%;
  animation: colorbg 10s linear infinite;
  z-index: -100;
}
.main__us .us__cards::before {
  filter: blur(10px);
}
@keyframes colorbg {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.main__us .us__cards .slick-slider {
  width: 350px;
  height: auto;
}
.main__us .us__cards .slick-slider .slick-list .slick-track .slick-slide .card {
  display: flex;
  gap: normal;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  width: 350px;
  height: auto;
  background-color: rgba(9, 176, 101, 0.862745098);
}
.main__us .us__cards .slick-slider .slick-list .slick-track .slick-slide .card .card__picture {
  display: flex;
  gap: normal;
  flex-direction: row;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.main__us .us__cards .slick-slider .slick-list .slick-track .slick-slide .card .card__picture .picture-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.main__us .us__cards .slick-slider .slick-list .slick-track .slick-slide .card .card__picture .picture-container > img {
  border-radius: 50%;
  object-fit: cover;
}
.main__us .us__cards .slick-slider .slick-list .slick-track .slick-slide .card .card__info {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

@media (max-width: 1024px) {
  .main__hero {
    padding: 50px;
  }
  .main__hero-content {
    display: flex;
    gap: 60px;
    flex-direction: row;
    border-radius: 0px;
    box-shadow: 0 8px 32px 0 #0e0e0e;
    background-color: rgba(255, 255, 255, 0.0078431373);
    backdrop-filter: blur(6px);
    padding: 10px;
  }
  .main__hero .main__us {
    display: flex;
    gap: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .main__us {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
  }
  .main__us .us__text {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 0;
  }
  .main__descriptive .main__descriptive-entry {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .main__descriptive .main__descriptive-entry .main__descriptive-text {
    border: none;
  }
}

/*# sourceMappingURL=main.css.map */
